*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    height: 64px;
    background-color:white;
}
.title{
    margin-right: auto;
    display: flex;
   
}
.posse_logo{
    width: 100px;
    height: 20px;
    margin: auto;
    margin-left: 20px;
}

.week{
    font-size: 10px;
    margin: auto;
    margin-left: 20px;
    color: rgb(144, 189, 202);
}
.post{
    background: linear-gradient(to right, rgb(36, 124, 224), skyblue);
    border-radius: 20px;
    width: 200px;
    /* height: 40px; */
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 4px 10px 4px skyblue;
    padding: 20px,0;
}
.text{
    color: white;
    margin: 0;
    padding: 10px;
}
.section{
    padding: 20px 100px;
}
.studyHours{
    display: flex;
}
.today,.month,.total{
    height: 140px;
    width: 180px;
    border: #000 1px solid;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    font-size: 16px;
    color: rgb(76, 129, 207);
    text-align: center;
}
.numbers{
    font-size: 36px;
    text-align: center;
    color: #000;
    font-weight: 800;
    line-height: 60px;
}
.hour{
    font-size: 20px;
    text-align: center;
    color: rgba(76, 129, 207,0.5);
}
.graph{
    height: 360px;
    width: 580px;
    border: #000 1px solid;
    margin: 10px;
    border-radius: 10px;
}

